name: MLOps Sentiment Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Training & Validation Pipeline
        run: |
          python train.py

      - name: App Integration tests
        run: |
          # launch tests with --test argument
          python app.py --test

      - name: Upload to Hugging Face Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          echo "CI/CD succeded upload in HF..."
          hf upload MPili22/MLOps . . --token "$HF_TOKEN"