name: MLOps Sentiment Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          # È necessario installare huggingface_hub per usare la CLI
          pip install huggingface_hub

      - name: Run Training & Validation Pipeline
        run: |
          python train.py

      - name: Upload to Hugging Face Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # Nota l'indentazione qui sotto: è fondamentale!
        run: |
          echo "Pipeline superata con successo. Preparazione upload..."
          huggingface-cli upload MPili22/MLOps ./sentiment_model . --token $HF_TOKEN